<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">日誌收容平台</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/search">查找日志</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">查找儀表板</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/strangelog">查找異樣log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">登出</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
          <form action="/" method="get">
            <label for="startDate">開始日期:</label>
            <input type="date" name="startDate" id="startDate" required />
            <label for="endDate">結束日期:</label>
            <input type="date" name="endDate" id="endDate" required />
            <label for="timeRange">選擇時間範圍：</label>
            <select name="timeRange" id="timeRange">
              <option value="month">每月</option>
              <option value="week">每周</option>
              <option value="day">每日</option>
              <option value="hour">每小時</option>
            </select>
            <button type="submit">搜索</button>
          </form>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-8"><canvas id="logChart"></canvas></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-9">
            <h1>地圖位置</h1>
            <div id="mapid" style="height: 500px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h1>Top Event IDs</h1>
            <ul class="list-group">
              <% topEventIds.forEach(function(event) { %>
              <li class="list-group-item">
                Event ID: <%= event.eventId %>, Count: <%= event.count %>
              </li>
              <% }); %>
            </ul>
          </div>
          <div class="col-md-6">
            <h2>Event Id Chart</h2>
            <div class="d-flex justify-content-center">
              <canvas id="event_idChart"></canvas>
            </div>
          </div>
        </div>
        <!-- 看ip來源國家 -->
        <div class="row">
          <div class="col-md-6">
            <h1>IP Address Information</h1>
            <ul class="list-group">
              <% topIps.forEach(function(ipInfo) { %>
              <li class="list-group-item">
                IP: <%= ipInfo.ip %>, Count: <%= ipInfo.count %>
              </li>
              <% }); %>
            </ul>
          </div>
          <div class="col-md-6">
            <h1>level</h1>
            <ul class="list-group">
              <% toplevels.forEach(function(levelInfo) { %>
              <li class="list-group-item">
                level: <%= levelInfo.level %>, Count: <%= levelInfo.count %>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
            let ipdata = []

            const eventidlabel = <%- JSON.stringify(eventid_label) %>;
            const eventidcount = <%- JSON.stringify(eventid_count) %>;
            const labelforbar = <%- JSON.stringify(barlabel) %>;
            const dataforbar = <%- JSON.stringify(bardata) %>;
            ipdata = <%- JSON.stringify(topIps) %>;


            const event_idChart = document.getElementById('event_idChart').getContext('2d');
            const logChart = document.getElementById('logChart').getContext('2d');

            new Chart(event_idChart,{
              type: 'pie',
              data: {
                labels:eventidlabel,
                datasets:[{
                  labels:'event id',
                  data:eventidcount,
                  backgroundColor:[
                  'blue',
                    'orange',
                    'green',
                    'red',
                    'purple',
                    'brown',
                    'pink',
                    'gray',
                    'olive',
                    'cyan',
                    'aliceblue',
                    'antiquewhite',
                    'aqua',
                    'aquamarine',
                    'azure',
                    'beige',
                    'bisque',
                    'black',
                    'blanchedalmond',
                    'blue',
                    'blueviolet',
                    'brown',
                    'burlywood',
                    'cadetblue'],
                    borderColor: '#fff',
                    borderWidth: 1
                }]

              },
              options: {
                responsive: false, // 自動調整大小
                maintainAspectRatio: false, // 保持比例
              }
            })

            new Chart(logChart,{
              type:'bar',
              data:{
                labels:labelforbar,
                datasets:[{
                  label:'doc_count',
                  data:dataforbar
                }]
              }
            })

            var result = ipdata.reduce(function(acc, currentValue) {
          // 只處理country不為'Unknown'的數據
          if (currentValue.country !== 'Unknown') {
              if (!acc[currentValue.country]) {
                  acc[currentValue.country] = {
                      country: currentValue.country,
                      latitude: currentValue.latitude,
                      longitude: currentValue.longitude,
                      total_count: 0
                  };
              }
              acc[currentValue.country].total_count += currentValue.count;
          }
          return acc;
      }, {});

      // 將結果轉換為陣列
      var summarizedData = Object.values(result);
      var map = L.map('mapid').setView([20, 0], 2); // 初始化地圖並設置視圖

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      summarizedData.forEach(function(item) {
          if (item.latitude !== 'Unknown' && item.longitude !== 'Unknown') {
              var marker = L.marker([item.latitude, item.longitude]).addTo(map);
              marker.bindPopup("<b>" + item.country + "</b><br>Total count: " + item.total_count);
          }
      });
    </script>
  </body>
</html>
