<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">日誌收容平台</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/search">查找日志</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">查找儀表板</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">查找異樣log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">登出</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
          <div class="col-md-6">
            <h2>Hourly Chart</h2>
            <canvas id="hourlyChart"></canvas>
          </div>
          <div class="col-md-6">
            <h2>Weekly Chart</h2>
            <canvas id="weeklyChart"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h1>Top Event IDs</h1>
            <ul class="list-group">
              <% topEventIds.forEach(function(event) { %>
              <li class="list-group-item">
                Event ID: <%= event.eventId %>, Count: <%= event.count %>
              </li>
              <% }); %>
            </ul>
          </div>
          <div class="col-md-6">
            <h2>Event Id Chart</h2>
            <div class="d-flex justify-content-center">
              <canvas id="event_idChart"></canvas>
            </div>
          </div>
        </div>
        <!-- 看ip來源國家 -->
        <div class="row">
          <div class="col-md-6">
            <h1>IP Address Information</h1>
            <ul class="list-group">
              <% topIps.forEach(function(ipInfo) { %>
              <li class="list-group-item">
                IP: <%= ipInfo.ip %>, Count: <%= ipInfo.count %>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
        <!-- 看log level -->
        <div class="row">
          <div class="col-md-6">
            <h1>level</h1>
            <ul class="list-group">
              <% toplevels.forEach(function(levelInfo) { %>
              <li class="list-group-item">
                level: <%= levelInfo.level %>, Count: <%= levelInfo.count %>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
        <div class="w-75 container">
          <h2>Monthly Chart</h2>
          <div class="d-flex justify-content-center">
            <canvas id="monthlyChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const labels = <%- JSON.stringify(label) %>;
      const data = <%- JSON.stringify(chartdata) %>;
      const labelsforweek = <%- JSON.stringify(weeklylabel) %>;
      const chartdataforweek = <%- JSON.stringify(weeklychartdata) %>;
      const labelsforhour = <%- JSON.stringify(hourlylabel) %>;
      const chartdataforhour = <%- JSON.stringify(hourlychartdata) %>;
      const eventidlabel = <%- JSON.stringify(eventid_label) %>;
      const eventidcount = <%- JSON.stringify(eventid_count) %>;

      const ctx = document.getElementById('monthlyChart').getContext('2d');
      const ctx2 = document.getElementById('weeklyChart').getContext('2d');
      const ctx3 = document.getElementById('hourlyChart').getContext('2d');
      const ctx4 = document.getElementById('event_idChart').getContext('2d');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label:'doc_count',
            data: data
          }]
        },

      });

      new Chart(ctx2,{
        type:'bar',
        data:{
          labels:labelsforweek,
          datasets:[{
            label:'doc_count',
            data:chartdataforweek
          }]
        }
      })
      new Chart(ctx3,{
        type:'bar',
        data:{
          labels:labelsforhour,
          datasets:[{
            label:'doc_count',
            data:chartdataforhour
          }]
        }
      })

      new Chart(ctx4,{
        type: 'pie',
        data: {
          labels:eventidlabel,
          datasets:[{
            labels:'event id',
            data:eventidcount,
            backgroundColor:[
            'blue',
              'orange',
              'green',
              'red',
              'purple',
              'brown',
              'pink',
              'gray',
              'olive',
              'cyan',
              'aliceblue',
              'antiquewhite',
              'aqua',
              'aquamarine',
              'azure',
              'beige',
              'bisque',
              'black',
              'blanchedalmond',
              'blue',
              'blueviolet',
              'brown',
              'burlywood',
              'cadetblue'],
              borderColor: '#fff',
              borderWidth: 1
          }]

        },
        options: {
          responsive: false, // 自動調整大小
          maintainAspectRatio: false, // 保持比例
        }
      })
    </script>
  </body>
</html>
